nav {
  background: white;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 2px solid gray;
  border-radius: 30px;
  animation: slide-in 1s ease-out;
}

ul {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0 30px;
  list-style-type: none;

  li:not(:last-child) {
    margin-right: 40px;
  }

  li {
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background 0.2s;
    cursor: pointer;
    width: 90px;
    text-align: center;

    p {
      font-size: .9rem;
      color: black;
      text-transform: uppercase;
      transition: color 0.5s;
    }

    &:hover {
      p {
        font-weight: bold;
      }
    }
  }
}

@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}
