.toolbar-options{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.toolbar-estatistic{
  font-weight: bold;
}

.btn-acoes{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.form-modal{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.input-group{
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.mercados-lista{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  padding: 0 5px 0 5px;
}

.mercados{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  p{
    margin: 0;
  }
}
